.profile_wrapper {
    display: grid;
    gap: 3rem;

    .image_container {
        height: 200px;

        .profile_background_image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

}
