:root {
    --page-background: #000000;
    --section-background: #262d33;
    --section-dark-background: #21262b;
    --post-background: #38434f;

    --font-color-general: #bbbcbd;

    --accent-color: #71b7fb;
}
