.app_wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "header header"
    "navigation content";
    gap: var(--page-gap);
    height: 100%;
    font-size: var(--font-size-general);

    .content_wrapper {
        display: flex;
        flex-direction: column;
        grid-area: content;
        background-color: var(--section-background);
        gap: var(--page-section-gap);
    }
}
